<script setup lang="ts">
import { RouterLink, RouterView } from "vue-router";
import HelloWorld from "./components/HelloWorld.vue";
import CalComponent from "./components/CalComponent.vue";
import HelloWorldEx from "./components/HelloWorldEx.vue";
import HandingUserInput from "./components/HandingUserInput.vue";
import AttributeBindings from "./components/AttributeBindings.vue";
</script>

<template>
<div>
  <AttributeBindings/>
  <HandingUserInput/>
  <CalComponent/>
  <HelloWorldEx/>
</div>
</template>

<style scoped>
</style>
